#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*  */


@font-face {
  font-family: 'Sniglet';
  src: url('./fonts/Sniglet-webfont.woff') format('woff'),
       url('./fonts/Sniglet-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knewave';
  src: url('./fonts/knewave-webfont.woff') format('woff'),
       url('./fonts/knewave-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prociono';
  src: url('./fonts/Prociono-Regular-webfont.woff') format('woff'),
       url('./fonts/Prociono-Regular-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}





body {
  background-image:
  /* linear-gradient(
    175deg,
    #ffffff 20%, 
    #e0f2f1 30%, 
    #ffffff 50%, 
    #e0f2f1 60%, 
    #ffffff 80%, 
    #e0f2f1 100% 
  ),  */
  url('./assets/shifumi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
}

nav {
  height: 56px;
  background-color: rgba(7, 55, 55, 0.7);
}

nav .icon {
  font-family: 'Knewave';
  position: absolute;
  top: 8px;
  left: 25px;
  /* background-color: aquamarine; */
}

nav .icon h3 {
  font-size: small;
}


.top-board {
  height: 100px;
  width: 250px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  top: 70px;
  /* background-color: aquamarine; */
}

.top-board h4 {
  position: absolute;
  top: 10px;
  left: 10px; 
  right: 10px; 

  font-family: 'Prociono';
}

.top-board h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  /* font-family: 'Prociono'; */
  font-family: 'Knewave';
}

.gameBoard {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 130px;
}

.userSide {
  width: 400px;
  /* background-color: aliceblue; */
}

.computerSide {
  width: 400px;
  /* background-color: azure; */
}

.options {
  /* background-color: aquamarine; */
  height: 130px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option {
  border: 1px solid rgb(7, 55, 55, 0.9);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: 'Prociono';
  font-size: small;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.5;       
  cursor: not-allowed; 
}

.option:not(.selected):hover {
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff
  );
  color: rgba(7, 55, 55, 0.9);
  /* border: 1px solid rgb(7, 55, 55, 0.9); */
  border: none;
}

.option.selected {
  border: 1px solid rgb(7, 55, 55, 0.9);
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
}

.computerChoice {
  /* background-color: aquamarine; */
  height: 130px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computerChoice h2 {
  font-family: 'Prociono';
}

.versus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

.wins h1 {
  font-family: 'Prociono';
}

.gameBoard > h1 {
  font-family: 'Knewave';
  font-size: small;
  font-weight: bold;
}

.modal-content {
  display: flex;
  align-items: center;
}

/* .modal-content Button {
  margin-top: 31px;
  background: linear-gradient(
    175deg, #e0f2f1, #ffffff
  );
  color: rgba(7, 55, 55, 0.9);
  border: 1px solid rgb(7, 55, 55, 0.9);
} */

.modal-body {
  background: linear-gradient(
    175deg, #e0f2f1, #ffffff
  );
}

.modal-content h1, 
.modal-content h3 {
  font-family: 'Prociono';
}


.homelink {
  color: #213547;;
}

.homelink:hover {
  color: #213547;;
}


.play-button {
  border: 1px solid rgb(7, 55, 55, 0.9);
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
}

.play-button:hover {
  border: none;
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff);
  color: rgb(7, 55, 55, 0.9);;
}

.custom-modal-button.btn.btn-primary:hover {
  border: none;
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff);
  color: rgb(7, 55, 55, 0.9);
}

.modal-content Button {
  /* margin-top: 31px;
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
  border: none; */

  border: none;
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff);
  color: rgb(7, 55, 55, 0.9);
}

.container {
  display: flex;
  justify-content: space-around;
}

.button {
  border: 1px solid rgba(7, 55, 55, 0.9);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.active {
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff
  );
  color: rgba(7, 55, 55, 0.9);
  border: none;
}