#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*  */

.option {
  border: 1px solid rgb(7, 55, 55, 0.9);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
  margin: 25px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.options {
  display: flex;
}

.option.disabled {
  pointer-events: none;
  opacity: 0.5;       
  cursor: not-allowed; 
}


body {
  background-image: url('./assets/shifumi.jpg');
}