#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*  */


@font-face {
  font-family: 'Sniglet';
  src: url('./fonts/Sniglet-webfont.woff') format('woff'),
       url('./fonts/Sniglet-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knewave';
  src: url('./fonts/knewave-webfont.woff') format('woff'),
       url('./fonts/knewave-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prociono';
  src: url('./fonts/Prociono-Regular-webfont.woff') format('woff'),
       url('./fonts/Prociono-Regular-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}




.options {
  display: flex;
}

.option {
  border: 1px solid rgb(7, 55, 55, 0.9);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
  margin: 25px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: 'Prociono';
  font-size: small;
}


.option.disabled {
  pointer-events: none;
  opacity: 0.5;       
  cursor: not-allowed; 
}


.option:not(.selected):hover {
  background: linear-gradient(
    45deg, #e0f2f1, #ffffff
  );
  color: rgba(7, 55, 55, 0.9);
  border: 1px solid rgb(7, 55, 55, 0.9);
}

.option.selected {
  border: 1px solid rgb(7, 55, 55, 0.9);
  background-color: rgba(7, 55, 55, 0.9);
  color: white;
}


body {
  background-image:
  /* linear-gradient(
    175deg,
    #ffffff 20%, 
    #e0f2f1 30%, 
    #ffffff 50%, 
    #e0f2f1 60%, 
    #ffffff 80%, 
    #e0f2f1 100% 
  ),  */
  url('./assets/shifumi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
}

.uhghu {
  font-family: 'Knewave';
  position: absolute;
  top: 25px;
  left: 25px;
}

.uhghu h3 {
  font-size: small;
}


.top-board {
  height: 100px;
  width: 250px;
  padding: 30px;
  position: relative;
  /* bottom: 40px; */
  bottom: 100px;
  margin: 0 auto;
}

.top-board h4 {
  position: absolute;
  top: 10px;
  left: 10px; 
  right: 10px; 

  font-family: 'Prociono';
}


.top-board h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  /* font-family: 'Prociono'; */
  font-family: 'Knewave';
}

.wins h1 {
  font-family: 'Prociono';
}

.computerChoice h2 {
  font-family: 'Prociono';
}

.computerChoice {
  height: 100px; 
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative; */
}

.gameBoard > h1 {
  font-family: 'Knewave';
  font-size: small;
  font-weight: bold;
}


.gameBoard {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}

.userSide {
  width: 400px;
  /* background-color: aliceblue; */
  position: relative;
  right: 50px;
}

.computerSide {
  width: 400px;
  /* background-color: azure; */
  position: relative;
  left: 50px;
}

button {
  font-family: 'Knewave';
}


.versus {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
  position: relative;
  /* top: 80px; */
  top: 60px;
}


.modal-content h1, 
.modal-content h3 {
  font-family: 'Prociono';
}

.modal-content {
  display: flex;
  align-items: center;
}

.modal-content Button {
  margin-top: 31px;
  background: linear-gradient(
    175deg, #e0f2f1, #ffffff
  );
  color: rgba(7, 55, 55, 0.9);
  border: 1px solid rgb(7, 55, 55, 0.9);
}

button {
  font-family: 'Knewave';
}









.options {
  /* background-color: aquamarine; */
  height: 130px;
  margin-top: 70px;
}

.computerChoice {
  /* background-color: aquamarine; */
  height: 130px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-top: 70px;
}



.modal-body {
  background: linear-gradient(
    175deg, #e0f2f1, #ffffff
  );
}